<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/OnlineJewellShop.css" type="text/css"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1 style="text-align:center">Sri Mathre Jewellers</h1>
        <div style="text-align:right">
            @Html.ActionLink("Sign Up", "SignUp", "JewellaryShopping", " ", new { @class = "LinkColor" })
            @Html.ActionLink("Login", "Login", "JewellaryShopping", " ", new { @class = "LinkColor" })
        </div>
        
        @RenderBody()
    </div>
</body>
</html>
