<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/OnlineJewellShop.css" type="text/css"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>  
        <h1>Sri Mathre Jewellers</h1>
        @Html.ActionLink("Sign Up", "SignUp", "JewellaryShopping","",new { @class = "LinkColor" })
        @RenderBody()
    </div>
</body>
</html>
