<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Sri Mathre Jewellers</h1>
        @Html.ActionLink("Sign Up", "SignUp", "JewellaryShopping");
        @RenderBody()
    </div>
</body>
</html>
