@model OnlineJewellShop.Entity.ProductCatogeries
@{
    ViewBag.Title = "DeleteProduct";
}

<h2>Delete Product catogery</h2>

@using (Html.BeginForm("DeleteProductCategory", "Admin", FormMethod.Post))
{
<div class="containers">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">

            <img class="ProductImageView" src="~/ProductCatogeryImages/@Html.DisplayFor(Model=>Model.ProductImagePath)" />
        </div>
        <div class=" col-lg-8 col-md-8 col-sm-8" style="padding-bottom:6%">

            <h3 class="Products">Product Name:</h3> <h4 class="ProductFont">@Model.productCatogeryName</h4>
            
            @using (Html.BeginForm("DeleteProduct", "Admin", FormMethod.Post))
            {
                <input type="submit" value="Confirm Delete" />
                @Html.HiddenFor(Model => Model.ProductCatogeryId)
            }
            @using (Html.BeginForm("ViewProductCategory", "Admin", FormMethod.Post))
            {
                <input type="submit" value="cancel" />
            }
        </div>
    </div>

</div>
}
