@model OnlineJewellShop.Entity.ProductCatogeries
@{
    ViewBag.Title = "DeleteProduct";
}

<h2>Delete Product catogery</h2>

@using (Html.BeginForm("DeleteProductCategory", "Admin", FormMethod.Post))
{
    <table>
        @Html.HiddenFor(Model => Model.ProductCatogeryId)
        <tr>
            <td>
                @Html.LabelFor(Model => Model.productCatogeryName):
            </td>
            <td>
                @Html.ValueFor(Model => Model.productCatogeryName)
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Confirm Delete" /></td>

        </tr>
    </table>
}
@using (Html.BeginForm("ViewProductCategory", "Admin", FormMethod.Post))
{
    <td><input type="submit" value="cancel" /></td>
}