@model OnlineJewellShop.Entity.Product
@{
    ViewBag.Title = "DeleteProduct";
}

<h2>Delete Product</h2>


    <div class="containers">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img class="ProductImageView" src="~/ProductImages/@Html.DisplayFor(Model=>Model.ProductImagePath)" />
            </div>
            <div class=" col-lg-8 col-md-8 col-sm-8" style="padding-bottom:6%">

                <h3 class="Products">Product Name:</h3> <h4 class="ProductFont">@Model.ProductName</h4>
                <h3 class="Products">Product Rate: </h3> <h4 class="ProductFont">Rs.@Model.ProductRate</h4>
                <h3 class="Products">Product Ctegory:</h3> <h4 class="ProductFont">@Model.ProductCatogeries.productCatogeryName</h4>
                @using (Html.BeginForm("DeleteProduct", "Admin", FormMethod.Post))
                {
                    <input type="submit" value="Confirm Delete" />
                    @Html.HiddenFor(Model => Model.ProductId)
                }
                @using (Html.BeginForm("ViewProduct", "Admin", FormMethod.Post))
                {
                    <td><input type="submit" value="cancel" /></td>
                }
            </div>
        </div>

    </div>



