@model  IEnumerable<OnlineJewellShop.Entity.ProductCatogeries>
@{
    ViewBag.Title = "ViewProductCategory";
}


<h2>View Product Category</h2>

<table>
    <tr>
        <th>Product Category Id</th>
        <th>Product Category Name</th>
    </tr>

    @foreach (OnlineJewellShop.Entity.ProductCatogeries product in @Model)
    {
        <tr>
            <td>@product.ProductCatogeryId</td>
            <td>@product.productCatogeryName</td>
            <td>
                @Html.ActionLink("Edit", "EditProductCategory", new { id = product.ProductCatogeryId, @class = "LinkColor" })
                @Html.ActionLink("Delete", "DeleteProductCategory", new { id = product.ProductCatogeryId, @class = "LinkColor" })
            </td>
        </tr>
    }
</table>
