@model IEnumerable<OnlineJewellShop.Entity.ProductCatogeries>

@{
    ViewBag.Title = "ViewProductCategory";
}

<h2>Available Product Category's List </h2>
<table >
    <tr>
        <th>Category Id</th>
        <th>Category</th>
        <th>Update</th>
    </tr>

    @foreach (OnlineJewellShop.Entity.ProductCatogeries user in Model)
    {
        <tr>
            <td>
                @user.ProductCatogeryId
            </td>

            <td>
                @user.productCatogeryName
            </td>
          
            <td>
                @Html.ActionLink("Edit", "EditProductCategory", new { id = user.ProductCatogeryId, @class = "LinkColor" })
                @Html.ActionLink("Delete", "DeleteProductCategory", new { id = user.ProductCatogeryId, @class = "LinkColor" })
            </td>
        </tr>


    }
</table>


