@model  IEnumerable<OnlineJewellShop.Entity.Product>
@{
    ViewBag.Title = "ProductsDetail";
}

<div class="containers">
        <div class="rows" style="margin-bottom:100px">

            @foreach (OnlineJewellShop.Entity.Product product in Model)
            {
                product.ProductImagePath = Path.Combine("~/ProductImages/", product.ProductImagePath);
            <div class="col-lg-4 col-md-4 " style="height:200px;margin-top:100px;padding-bottom:50px">
                <img style="width:20%;height:80%;border-radius:20px 20px 20px 20px" src="@Url.Content(product.ProductImagePath)" />


                <h3>@product.ProductName</h3>
                <h3>Rs.@product.ProductRate</h3>
                <h4 class = "btn btn-danger"style="border-radius:20px 20px 20px 20px">@Html.ActionLink("Product Detail","ViewProduct","Cart", new { id = product.ProductId, @class = "LinkColor" },null)</h4>
                
            </div>
             }
        
       
    </div>
      
</div>

