@model  IEnumerable<OnlineJewellShop.Entity.Product>
@{
    ViewBag.Title = "ProductsDetail";
}


<div class="rows" style="margin-bottom:100px">

    @foreach (OnlineJewellShop.Entity.Product product in Model)
    {
        product.ProductImagePath = Path.Combine("~/ProductImages/", product.ProductImagePath);
        <div class="col-lg-4 col-md-4 Contain ">
            <br />
            <img class="ProductDetailImage" src="@Url.Content(product.ProductImagePath)" />


            <h3 class="ProductDetailsfont"><b>@product.ProductName</b></h3>
            <h3 class="ProductDetailsfont">Rs.@product.ProductRate</h3>
            <h4 class="btn btn-danger ActionLink">@Html.ActionLink("Product Detail", "ViewProduct", "Cart", new { id = product.ProductId, @class = "LinkColor" }, null)</h4>
          
        </div>
   }




</div>
      


