@model  IEnumerable<OnlineJewellShop.Entity.ProductCatogeries>
@{
    ViewBag.Title = "ViewProductCategory";
}

<h2>Categories</h2>
@using (Html.BeginForm("ProductsDetail", "Admin", FormMethod.Post))
{
    <table style="padding-bottom:15%">

        @foreach (OnlineJewellShop.Entity.ProductCatogeries product in @Model)
        {
        <tr >
            
            <td  class = "btn btn-danger">@Html.ActionLink(product.productCatogeryName, "ProductsDetail", new { id = product.ProductCatogeryId , @class = "LinkColor"})</td>

        </tr>
        }
    </table>
}