@model  IEnumerable<OnlineJewellShop.Entity.ProductCatogeries>
@{
    ViewBag.Title = "ViewProductCategory";
}

<h2>Categories</h2>
@using (Html.BeginForm("ProductsDetail", "Admin", FormMethod.Post))
{

    foreach (OnlineJewellShop.Entity.ProductCatogeries product in @Model)
    {
        product.ProductImagePath = Path.Combine("~/ProductCatogeryImages/", product.ProductImagePath);
        <div class="col-lg-4 col-md-4 ProductView">
            <img style=" width: 100%; height: 80%; border-radius: 10px 10px 10px 10px" src="@Url.Content(product.ProductImagePath)" />
            <h4 class="btn btn-danger ActionLink" >@Html.ActionLink(product.productCatogeryName, "ProductsDetail", new { id = product.ProductCatogeryId, @class = "LinkColor" }, null)</h4>

        </div>

    }
}

