
@{
    ViewBag.Title = "AdminOperation";
}

<h2>Successfully logined as admin</h2>
@Html.ActionLink("Add Product", "AddProduct", "JewellaryShopping", new { @class="LinkColor"})
@Html.ActionLink("View Products","ViewProduct","JewellaryShopping",new { @class="LinkColor"})

