<div class="containers">
    <div class="rows" style="margin-bottom:100px">
        <h3 class="colors">Thanks for your order!
        <br /><br />
        
            Thank You For Shopping  in SM <br /><br />Your Order is Successfully Placed.
        </h3>
    </div>
 </div>
